@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(219, 219, 219); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(185, 185, 185, 0.667); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 168, 168, 0.667); 
}

.loading-bar {
  height: 3px;
  width: 145.6px;
  border-radius: 3px;
  background: linear-gradient(#ffffff 0 0),
      linear-gradient(#ffffff 0 0),
      #333333;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  animation: progress-7x9cg2 3s infinite;
}

@keyframes progress-7x9cg2 {
  0% {
     background-position: -150% 0,-150% 0;
  }

  66% {
     background-position: 250% 0,-150% 0;
  }

  100% {
     background-position: 250% 0, 250% 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}